
    <div class="flex items-center justify-center h-[calc(100vh-200px)]">
        <div class="group relative block w-60 sm:w-72 lg:w-80 h-64 sm:h-80 lg:h-96">
            <span class="absolute inset-0 border-4 border-black border-dashed">
                <div class="relative flex h-full w-full transform items-end border-4 border-black bg-[#C8ACD6] transition-transform group-hover:scale-105 group-hover:shadow-[7px_7px_0_rgba(0,0,0,1)]">
                    <div class="p-4 !pt-0 sm:p-6 lg:p-8">
                        <h2 class="mt-4 text-m font-medium sm:text-2xl">SITIO EN CONSTRUCCIÓN</h2>
                        <p class="mt-4 text-m font-medium sm:text-m">todo a su debido tiempo</p>
                    </div>
                </div>
            </span>
        </div>
    </div>

