<div class="flex items-center justify-center h-screen">
  <div class="flex flex-col items-center w-full max-w-lg p-6 border-4 border-black bg-[#C8ACD6] shadow-[5px_5px_0_rgba(0,0,0,1)] rounded-lg">
    
    <div class="flex justify-between w-full mb-6">
      <div class="flex items-center space-x-2">
        <span class="text-lg font-bold text-black">Vidas:</span>
        <ng-container *ngFor="let i of [1, 2, 3]; let idx = index">
          <span [ngClass]="{'bg-red-500': idx < vida, 'bg-gray-300': idx >= vida}" 
                class="w-6 h-6 rounded-full border-2 border-black inline-block"></span>
        </ng-container>
      </div>

      <div class="text-lg font-bold text-black">
        Puntaje: <span class="text-blue-600">{{ puntaje }}</span>
      </div>
    </div>

    <h2 class="text-3xl font-bold text-center mb-6 text-black">Juego Mayor o Menor</h2>

    <p *ngIf="!finalJuego" class="text-lg font-semibold text-center text-black">
      Adivina si la siguiente carta es mayor, menor o igual
    </p>
    <p *ngIf="finalJuego" class="text-lg font-semibold text-center text-red-600">
      ¡Perdiste!
    </p>

    <div class="my-6">
      <img *ngIf="actualCarta" [src]="actualCarta.image" alt="Carta actual" 
          class="rounded-lg border-4 border-black shadow-lg transform transition duration-300 hover:scale-105 hover:translate-x-[-5px] hover:translate-y-[-5px]" />
    </div>

    <div *ngIf="!finalJuego" class="flex space-x-4">
      <button class="bg-green-400 border-4 border-black text-black font-bold py-2 px-4 shadow-[5px_5px_0_rgba(0,0,0,1)] transform transition-all duration-300 hover:scale-105 hover:translate-x-[-5px] hover:translate-y-[-5px] hover:shadow-[15px_15px_0_-5px_#e9b50b,15px_15px_0_0_#000]"
              (click)="robarCarta('mayor')">Mayor</button>
      <button class="bg-blue-400 border-4 border-black text-black font-bold py-2 px-4 shadow-[5px_5px_0_rgba(0,0,0,1)] transform transition-all duration-300 hover:scale-105 hover:translate-x-[-5px] hover:translate-y-[-5px] hover:shadow-[15px_15px_0_-5px_#e9b50b,15px_15px_0_0_#000]"
              (click)="robarCarta('menor')">Menor</button>
      <button class="bg-purple-400 border-4 border-black text-black font-bold py-2 px-4 shadow-[5px_5px_0_rgba(0,0,0,1)] transform transition-all duration-300 hover:scale-105 hover:translate-x-[-5px] hover:translate-y-[-5px] hover:shadow-[15px_15px_0_-5px_#e9b50b,15px_15px_0_0_#000]"
              (click)="robarCarta('igual')">Igual</button>
    </div>

    <div *ngIf="finalJuego" class="mt-6">
      <button class="bg-red-400 border-4 border-black text-black font-bold py-2 px-6 shadow-[5px_5px_0_rgba(0,0,0,1)] transform transition-all duration-300 hover:scale-105 hover:translate-x-[-5px] hover:translate-y-[-5px] hover:shadow-[15px_15px_0_-5px_#e9b50b,15px_15px_0_0_#000]"
              (click)="reiniciarJuego()">Reiniciar Juego</button>
    </div>
  </div>
</div>
