<div class="flex items-center justify-center h-[calc(100vh-200px)]">
<div class="flex flex-row w-full max-w-6xl">
    <div class="flex-shrink-0 border-4 border-black bg-white p-4 rounded-lg shadow-lg">
    <h2 class="text-xl font-bold text-center mb-4">Ahorcado</h2>
    <div class="flex items-center justify-center h-48">
        <svg class="w-32 h-32" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
        <!-- Dibuja el ahorcado -->
        <circle *ngIf="errores > 0" cx="32" cy="16" r="8" stroke="pink" stroke-width="2" fill="none" />
        <line *ngIf="errores > 1" x1="32" y1="24" x2="32" y2="48" stroke="pink" stroke-width="2" />
        <line *ngIf="errores > 2" x1="32" y1="32" x2="20" y2="40" stroke="pink" stroke-width="2" />
        <line *ngIf="errores > 3" x1="32" y1="32" x2="44" y2="40" stroke="pink" stroke-width="2" />
        <line *ngIf="errores > 4" x1="32" y1="48" x2="20" y2="56" stroke="pink" stroke-width="2" />
        <line *ngIf="errores > 5" x1="32" y1="48" x2="44" y2="56" stroke="pink" stroke-width="2" />
        </svg>
    </div>
    <p class="text-center mt-4">Puntos: {{ puntos }}</p>
    </div>

    <!-- Palabra a adivinar y letras -->
    <div class="flex-grow border-4 border-black bg-white p-4 rounded-lg shadow-lg ml-4">
    <h2 class="text-xl font-bold text-center mb-4">Palabra a Adivinar</h2>
    <div class="flex items-center justify-center h-20 text-2xl">
        <span *ngFor="let letra of guiones.split('')">{{ letra }}&nbsp;</span>
    </div>
    
    <!-- teclado -->
    <div class="grid grid-cols-8 gap-2 mt-4">
        <button
            *ngFor="let letra of abecedario"
            (click)="adivinar(letra)"
            [disabled]="letrasUsadas.includes(letra)"
            class="bg-[#FEBAED] border-4 border-black px-4 py-2 font-bold text-black shadow-[5px_5px_0_rgba(0,0,0,1)] 
                transition-all duration-400 transform hover:scale-105 hover:translate-x-[-5px] hover:translate-y-[-5px] 
                hover:shadow-[10px_10px_0_-2px_#e9b50b,10px_10px_0_0_#000] flex justify-center items-center text-lg">
            {{ letra }}
        </button>
    </div>
    </div>
</div>
</div>
