
<div class="bg-cover bg-center bg-fixed dark: bg-[#321C3A]">
    <section class="pt-10 bg-[#321C3A] md:pt-0 sm:pt-16 2xl:pt-16">
        <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
            <div class="grid items-center grid-cols-1 md:grid-cols-2 gap-8">
                <div>
                    <p class="max-w-lg mt-3 text-xl leading-relaxed text-[#DD7AB3] md:mt-8">
                        Hola! Soy María Emilia Quiroga, estudiante de la Tecnicatura en Programación en la UTN - FRA.
                        <br>Este es mi proyecto para la materia Laboratorio 4!
                        Este sitio está desarrollado con Angular, Tailwind y hosteado en Firebase.
                        <br>Este sitio cuenta con mi juego llamado ######
                    </p>

                    <p class="mt-4 text-xl text-[#DD7AB3] md:mt-8">
                        <div class="flex space-x-4"> <!-- Flex y espacio entre botones -->
                            <button class="navbar-button bg-[#FEBAED] border-4 border-black px-6 py-3 font-bold text-black
                            shadow-[5px_5px_0_rgba(0,0,0,1)] transition-all duration-400 transform hover:scale-105 hover:translate-x-[-5px] hover:translate-y-[-5px]
                            hover:shadow-[15px_15px_0_-5px_#e9b50b,15px_15px_0_0_#000] flex justify-center items-center text-l">
                                <a href="https://www.linkedin.com/in/emiliaquiroga/">LinkedIn</a>
                            </button>

                            <button class="navbar-button bg-[#FEBAED] border-4 border-black px-6 py-3 font-bold text-black
                            shadow-[5px_5px_0_rgba(0,0,0,1)] transition-all duration-400 transform hover:scale-105 hover:translate-x-[-5px] hover:translate-y-[-5px]
                            hover:shadow-[15px_15px_0_-5px_#e9b50b,15px_15px_0_0_#000] flex justify-center items-center text-l">
                                <a href="https://www.github.com/emiliaquiroga/">GitHub</a>
                            </button>
                        </div>
                    
                </div>

                <div class="relative">
                    <img class="w-100 h-100" src="imagen.jpg" alt="Imagen de presentacion: Maria Emilia">
                </div>
            </div>
</div>
